<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); -%>
  <title>Adding Componant</title>

  <link rel="stylesheet" href="Add_Eq.css">
  <link rel="stylesheet" href="user.css">
</head>
<body>
  <div class="container">
      <div class="row">
        <div class="col-sm"> 
          <div class="outer">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Designation</th>
                <th scope="col">Quantite</th>
                <th scope="col">Quantite Disponible</th>
                <th scope="col">Suprrimer</th>
                <th scop="col">Modifier</th>
              </tr>
            </thead>
            <tbody>
                <% for (var i=0;i< composant.length;i++){%>
                 <% var j= composant[i].name%>  
              <tr>
                <th scope="row"><%=i%></th>
                <td><%=composant[i].name%> </td>
                <td><%=composant[i].quantity%></td>
                <td><%=composant[i].quantity_dispo%></td>
                
                <td>
                    <form action="/Delete_comp" method="POST">
                        <input type="text" hidden value="<%=composant[i].id%>" name="compid">
                    <button type="submit"class="btn btn-danger">
                        Suprrimer</button>
                </form>
                </td>
                <td>
                
                  
                  <!-- Trigger the modal with a button -->
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%=j%>">Edit </button>
                
                 
                
                </td>
                
              
               
              </tr>
                <!-- Modal -->
                <div class="modal fade" id="<%=j%>" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5>Edit:<%=composant[i].name %></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                      <form action="/Eq_Edit" method="POST">
                      <div class="modal-body">
                        
                        <input type="text" name="id" value="<%=composant[i].id %>"hidden >
                        <input type="text"  class="form-control" name="edit">
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-default" >save</button>
                      </div>
                    </div>
                  
                  </div>
                </form>
                </div>
            
              <%}%>
            
            </tbody>
          </table>
        </div>
             </div>
        <div class="col-sm">
          <div class="card">
        
            <div class="banner"></div>
            <ul>
                
              <h2>Ajouter Nouveau Materiel</h2>
    
            </ul>
            <button class="contact" id="main-button">cliquer</button>
           
           
              
              <form action="/Add_Eq" method="POST" class="email-form">
                <div class="form-group">
                  
                  <input type="text" class="form-control" name="nom">
                </div>
                <div class="form-group">
                  
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
              </form>
          </div>
           
           
          </div>
        
          
       
      </div>
      </div>
      <script src="user.js"></script>        
                 
                 
     </body>
       


</body>
</html>
