
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header'); -%>
  <title>Adding Componant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
</head>
<body>
    
   <div class="row" >
    
       
           <div class="card text-black border-success mb-3" style="width: 90rem; margin-left: auto; margin-right: auto;">
            
        <div class="card-header bg-dark"  style="color: white;">Le contenu du BL</div>
        <div class="card-body">
          <h5 class="card-title">Numero de Bon:<%=BL.numero%></h5>
          <h5 class="card-title">Date :<%=BL.date%></h5>
          
            
          
<style>




.outer {
    overflow-y: auto;
    height: 300px;
  }

  .outer {
    width: 100%;
    -layout: fixed;
  }

  .outer th {
    text-align: left;
    top: 0;
    position: sticky;
    background-color: white;
  }</style>
            
       
<div class="container-fluid col-md">
  <div class="row">

    <div class="col-lg-12">

   
        <div class="card-body">
          <div class="outer">

            <table class="table table-hover bg-light">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Designation</th>
                  <th scope="col">quantite</th>
                </tr>
              </thead>
              <tbody>

                <% for(var i=0;i< content.length;i++) {%>
                  <% var j= content[i].composant.name%>  
                  <tr>
                    <td><%=i%></td>
                    <td><%= content[i].composant.name%></td>
                    <td><%= content[i].cquantity%></td>
                   
                    
                  </tr>
                  
                  <% }%> 

                </tbody>
            </table>
          </div>

        </div>

     




    </div>

  </div>

</div> 
   
        </div>
      </div>
   
      
   </div>      
   
      
              
                
                
        </body>
</html>