<!DOCTYPE html>
<html lang="en">
  
  <%- include('header'); -%>
<head>
  <link rel="stylesheet" href="card2.css">
 

</head>


<div class="container">
                  
  <div class="container py-5">
    <div  style="font-family: Baskerville, serif;font-style: italic;text-align:center; margin-right: 10%">
      <h4 class="value">Admin</h4>
      
  </div>


<div class="row">
  <% for (var i=0;i< user.length;i++){%>
  <% if (user[i].type_user.typeu=="Admin"){%>

<div class="col-sm">
<div class="frame flex">

<div class="center">

<div class="profile">
    <div class="image">
       
        
    </div>
    <div class="job"><%=user[i].firstName%></div>
<div class="name"><%=user[i].lastName%></div>
    
<div>
<svg xmlns="http://www.w3.org/2000/svg" 
   width="40px" height="30px"
   viewBox="5 0 80 60">
  <path id="wave" 
      fill="none" 
      stroke="#262626" 
      stroke-width="2"
      stroke-linecap="round">
  </path>
</svg>
</div>


    <div class="actions">
        <button class="btn hvr-underline-from-center"><a href="">plus</a></button>
        
        
    </div>
</div>

<div class="stats">
    <div class="box box1 hvr-underline-from-right">
        <span class="value">password</span>
        <span class="parameter"><%=user[i].password%></span>
    </div>
   
</div>
</div>

</div>
</div>
<%}%>
<%}%>
</div>
  </div>
<div class="container py-5">
<div  style="font-family: Baskerville, serif;font-style: italic;text-align:center; margin-right: 10%">
  <h4 class="value">Enseignant</h4>
  
</div>


<div class="row">
<% for (var i=0;i< user.length;i++){%>
<% if (user[i].type_user.typeu=="Enseignant"){%>

<div class="col-sm">
<div class="frame flex">

<div class="center">

<div class="profile">
<div class="image">
   
    
</div>

<div class="job"><%=user[i].firstName%></div>
<div class="name"><%=user[i].lastName%></div>

<div>
<svg xmlns="http://www.w3.org/2000/svg" 
width="40px" height="30px"
viewBox="5 0 80 60">
<path id="wave" 
  fill="none" 
  stroke="#262626" 
  stroke-width="2"
  stroke-linecap="round">
</path>
</svg>
</div>


<div class="actions">
    <button class="btn hvr-underline-from-center"><a href="">plus</a></button>
    
    
</div>
</div>

<div class="stats">
<div class="box box1 hvr-underline-from-right">
  <span class="value">password</span>
  <span class="parameter"><%=user[i].password%></span>
</div>

</div>
</div>

</div>
</div>
<%}%>
<%}%>
</div>
</div>
<div class="container py-5">
<div  style="font-family: Baskerville, serif;font-style: italic;text-align:center; margin-right: 10%">
  <h4 class="value">Consultateur</h4>
  
</div>


<div class="row">
<% for (var i=0;i< user.length;i++){%>
<% if (user[i].type_user.typeu=="Consultateur"){%>

<div class="col-sm">
<div class="frame flex">

<div class="center">

<div class="profile">
<div class="image">
   
    
</div>


<div class="job"><%=user[i].firstName%></div>
<div class="name"><%=user[i].lastName%></div>

<div>
<svg xmlns="http://www.w3.org/2000/svg" 
width="40px" height="30px"
viewBox="5 0 80 60">
<path id="wave" 
  fill="none" 
  stroke="#262626" 
  stroke-width="2"
  stroke-linecap="round">
</path>
</svg>
</div>


<div class="actions">
    <button class="btn hvr-underline-from-center"><a href="">plus</a></button>
    
    
</div>
</div>

<div class="stats">
<div class="box box1 hvr-underline-from-right">
  <span class="value">password</span>
  <span class="parameter"><%=user[i].password%></span>
</div>


</div>
</div>

</div>
</div>
<%}%>
<%}%>
</div>
</div>
</div>
</body>
<script src="card2.js"></script>
<script src="index.js"></script>
</html>

  
