<html>
    <head>
        <nav class="navbar navbar-expand-sm  sticky-top" style="background-color:#628B8B;">
            <!-- Brand -->
            <img src="/images/logo.png" width="30px">
          
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/user" style="color: white;"><b>Home</b></a>
              </li>
             
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: white;"> <b>Demande</b></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/user" style="color: black;"><b>Nouvelle</b></a>
                  <a class="dropdown-item" href="/Liste_demande_Ens" style="color: black;"><b>Liste des demande</b></a>
                  
                  
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout" style="color: white;"> <b>Logout</b></a>
                </li>
              
            </ul>
          </nav>
    </head>
    <body>
        <div class="Card">
            <div class="Card-header">
                <table class="table">
                    <thead>
                        <td>#</td>
        <td scope="row">material:</td>
        <td scope="row">quantite Demande:</td>
        <td scope="row">quantite Disponible:</td>
                    </thead>
                    <tbody>
                        <% for(var i=0;i< demande.length;i++){%>
        <tr>
            <td><%=i%></td>
            <td><%=demande[i].composant.name%></td>
            <td><%=demande[i].quantity%></td>
            <td><%=demande[i].composant.quantity_dispo%></td>
        </tr>
        <%}%>
                    </tbody>
                </table>
            </div>
            <div class="Card-footer">
<button class="btn btn-danger"><a href="/Supprimer_Demande/<%=bcId%>"></a>Suprimer</button>
<button class="btn btn-success"><a href="/Demande/<%=bcId%>">Modifier</a></button>
            </div>
        </div>
       
    </body>
</html>