<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); -%>
  <title>Adding Componant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="user.css">
  <link rel="stylesheet" href="user1.css">
  <link rel="stylesheet" href="user3.css">
  <link rel="stylesheet" href="user4.css">
  <link rel="stylesheet" href="user5.css">
  <link rel="stylesheet" href="user6.css">
  <link rel="stylesheet" href="user7.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4
">
  <div class="card1">
        
    
    <ul>
      <h2>Nouvelle Demande</h2>
      <br><h3>1CPI</h3>


    </ul>
    <button class="contact1" id="main-button1">cliquer</button>
    <form action="/Ajout" method="POST" class="email-form1">
      <input type="text" name="tajout" value="groupe" hidden> 
      <label for="inputState">Titre</label>
      <input type="text" name="titre">
      <label for="inputState">Numero</label>
      <select id="inputState" class="form-control" name='numero'>
        <option selected>Groupe...</option>
        <% for (var i=0;i< groupe.length;i++){%>
            <% if(groupe[i].promo.promo=="1CPI") {%>
        <option style="color: black;"><%= groupe[i].numero%></option>
        <%}%>
               
                <% }%> 
      </select>
      <input type="text" value="<%=promo1CPI.id%>" name="promo" hidden>
      
      <button type="submit" class="contact1">Submit</button>
    </form>
   
      
                
  
         
      
          </div>
        </div>
        
        <div class="col-md-4
">
  <div class="card">
        
    <div class="banner"></div>
    <ul>
      <h2>Nouvelle Demande</h2>
      <br><h3>2CPI</h3>


    </ul>
    <button class="contact" id="main-button">cliquer</button>
    <form action="/Ajout" method="POST" class="email-form">
      <input type="text" name="tajout" value="groupe" hidden>
      <label for="inputState">Titre</label>
      <input type="text" name="titre">
      <label for="inputState">Numero</label>
      <select id="inputState" class="form-control" name='numero'>
        <option selected>Groupe...</option>
        <% for (var i=0;i< groupe.length;i++){%>
            <% if(groupe[i].promo.promo=="2CPI") {%>
        <option style="color: black;"><%= groupe[i].numero%></option>
        <%}%>
               
                <% }%> 
      </select>
      <input type="text" value="<%=promo2CPI.id%>" name="promo" hidden>
      
      <button type="submit" class="contact" >Submit</button>
    </form>
   
      
                
  
           <div class="col-sm">
                <section id="ajout">
                
              
   
 
            </form>
        </div>
      
          </div>
        </div>
        <div class="col-md-4
">
          <div class="card">
        
            <div class="banner3"></div>
            <ul>
              <h2>Nouvelle Demande</h2>
              <br><h3>1CS</h3>
        
        
            </ul>
            <button class="contact3" id="main-button3">cliquer</button>
            <form action="/Ajout" method="POST" class="email-form3">
              <input type="text" name="tajout" value="groupe" hidden>
              <label for="inputState">Titre</label>
      <input type="text" name="titre">
      <label for="inputState">Numero</label>
              <select id="inputState" class="form-control" name='numero'>
                <option selected>Groupe...</option>
                <% for (var i=0;i< groupe.length;i++){%>
                    <% if(groupe[i].promo.promo=="1CS") {%>
                <option style="color: black;"><%= groupe[i].numero%></option>
                <%}%>
                       
                        <% }%> 
              </select>
              <input type="text" value="<%=promo1CS.id%>" name="promo" hidden>
              
              <button type="submit" >Submit</button>
            </form>
           
              
                        
          
                   <div class="col-sm">
                        <section id="ajout">
                        
                      
           
         
                    </form>
                </div>
              
                  </div>
        </div>
        <div class="col-md-4
">
          <div class="card">
        
            <div class="banner4"></div>
            <ul>
              <h2>Nouvelle Demande</h2>
              <br><h3>2CS(SIW)</h3>
        
        
            </ul>
            <button class="contact4" id="main-button4">cliquer</button>
            <form action="/Ajout" method="POST" class="email-form4">
              <input type="text" name="tajout" value="groupe" hidden>
              <label for="inputState">Titre</label>
      <input type="text" name="titre">
      <label for="inputState">Numero</label>
              <select id="inputState" class="form-control" name='numero'>
                <option selected>Groupe...</option>
                <% for (var i=0;i< groupe.length;i++){%>
                    <% if(groupe[i].promo.promo=="2CS(SIW)") {%>
                <option style="color: black;"><%= groupe[i].numero%></option>
                <%}%>
                       
                        <% }%> 
              </select>
              <input type="text" value="<%=promo2CS_SIW.id%>" name="promo" hidden>
              
              <button type="submit" class="contact4" >Submit</button>
            </form>
           
              
                        
          
                   <div class="col-sm">
                        <section id="ajout">
                        
                      
           
         
                    </form>
                </div>
              
                  </div>
        </div>
        <div class="col-md-4
">
                  <div class="card">
        
                    <div class="banner5"></div>
                    <ul>
                      <h2>Nouvelle Demande</h2>
                      <br><h3>2CS(ISI)</h3>
                
                
                    </ul>
                    <button class="contact5" id="main-button5">cliquer</button>
                    <form action="/Ajout" method="POST" class="email-form5">
                      <input type="text" name="tajout" value="groupe" hidden>
                      <label for="inputState">Titre</label>
      <input type="text" name="titre">
      <label for="inputState">Numero</label>
                      <select id="inputState" class="form-control" name='numero'>
                        <option selected>Groupe...</option>
                        <% for (var i=0;i< groupe.length;i++){%>
                            <% if(groupe[i].promo.promo=="2CS(ISI)") {%>
                        <option style="color: black;"><%= groupe[i].numero%></option>
                        <%}%>
                               
                                <% }%> 
                      </select>
                      <input type="text" value="<%=promo2CS_ISI.id%>" name="promo" hidden>
                      
                      <button type="submit" class="contact5" >Submit</button>
                    </form>
                   
                      
                                
                  
                           <div class="col-sm">
                                <section id="ajout">
                                
                              
                   
                 
                            </form>
                        </div>
                      
                          </div>
        </div>
        <div class="col-md-4
">
                          <div class="card">
        
                            <div class="banner6"></div>
                            <ul>
                              <h2>Nouvelle Demande</h2>
                              <br><h3>3CS(SIW)</h3>
                        
                        
                            </ul>
                            <button class="contact6" id="main-button6">cliquer</button>
                            <form action="/Ajout" method="POST" class="email-form6">
                              <input type="text" name="tajout" value="groupe" hidden>
                              <label for="inputState">Titre</label>
                              <input type="text" name="titre">
                              <label for="inputState">Numero</label>
                              <select id="inputState" class="form-control" name='numero'>
                                <option selected>Groupe...</option>
                                <% for (var i=0;i< groupe.length;i++){%>
                                    <% if(groupe[i].promo.promo=="3CS(SIW)") {%>
                                <option style="color: black;"><%= groupe[i].numero%></option>
                                <%}%>
                                       
                                        <% }%> 
                              </select>
                              <input type="text" value="<%=promo3CS_SIW.id%>" name="promo" hidden>
                              
                              <button type="submit" class="contact6" >Submit</button>
                            </form>
                           
                              
                                        
                          
                                   <div class="col-sm">
                                        <section id="ajout">
                                        
                                      
                           
                         
                                    </form>
                                </div>
                              
                                  </div>
        </div>
        <div class="col-md-4
">
                                  <div class="card">
        
                                    <div class="banner7"></div>
                                    <ul>
                                      <h2>Nouvelle Demande</h2>
                                      <br><h3>3CS(ISI)</h3>
                                
                                
                                    </ul>
                                    <button class="contact7" id="main-button7">cliquer</button>
                                    <form action="/Ajout" method="POST" class="email-form7">
                                      <input type="text" name="tajout" value="groupe" hidden>
                                      <label for="inputState">Titre</label>
      <input type="text" name="titre">
      <label for="inputState">Numero</label>
                                      <select id="inputState" class="form-control" name='numero'>
                                        <option selected>Groupe...</option>
                                        <% for (var i=0;i< groupe.length;i++){%>
                                            <% if(groupe[i].promo.promo=="3CS(ISI)") {%>
                                        <option style="color: black;"><%= groupe[i].numero%></option>
                                        <%}%>
                                               
                                                <% }%> 
                                      </select>
                                      <input type="text" value="<%=promo3CS_ISI.id%>" name="promo" hidden>
                                      
                                      <button type="submit" class="contact7" >Submit</button>
                                    </form>
                                   
                                      
                                                
                                  
                                           <div class="col-sm">
                                                <section id="ajout">
                                                
                                              
                                   
                                 
                                            </form>
                                        </div>
                                      
                                          </div>
                                          </div>
   
                                          </div>
                                        </div>
        <script src="user.js"></script>
        

         </body> 
</html>



</body>
</html>